
  .exp-background {
    background-color: #75B204;
    min-height: 10vh;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #DCDCBF;
  }
  
  .p-exp {
    color: #DCDCBF;
  }
  